body {
    text-align: center;
    background: #e7eaf6; 
}

textarea {
    width: 40%;
    height: 60px;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: transparent;
  }


  audio {
      color: blue;
  }
  
  /* From Uiverse.io by OliverZeros */ 
button {
    all: unset;
  }
  
  .button {
    position: relative;
    display: inline-flex;
    height: 3.5rem;
    align-items: center;
    border-radius: 9999px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 2rem;
    font-family: Segoe UI;
    font-size: 1.2rem;
    font-weight: 640;
    color: #fafaf6;
    letter-spacing: -0.06em;
  }
  
  .button-item {
    background-color: transparent;
    color: #1d1d1f;
  }
  
  .button-item .button-bg {
    border-color: lightskyblue; 
    background-color: lightskyblue; 
  }
  
  .button-inner,
  .button-inner-hover,
  .button-inner-static {
    pointer-events: none;
    display: block;
  }
  
  .button-inner {
    position: relative;
  }
  
  .button-inner-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(70%);
  }
  
  .button-bg {
    overflow: hidden;
    border-radius: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: transform 1.8s cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .button-bg,
  .button-bg-layer,
  .button-bg-layers {
    display: block;
  }
  
  .button-bg-layers {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -60%;
    aspect-ratio: 1 / 1;
    width: max(200%, 10rem);
  }
  
  .button-bg-layer {
    border-radius: 9999px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
  }
  
  .button-bg-layer.-purple {
    background-color: lightskyblue; 
  }
  
  .button-bg-layer.-turquoise {
    background-color:  #a2a8d3; 
  }
  
  .button-bg-layer.-yellow {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 208, 116, var(--tw-bg-opacity));
  }
  
  .button:hover .button-inner-static {
    opacity: 0;
    transform: translateY(-70%);
    transition:
      transform 1.4s cubic-bezier(0.19, 1, 0.22, 1),
      opacity 0.3s linear;
  }
  
  .button:hover .button-inner-hover {
    opacity: 1;
    transform: translateY(0);
    transition:
      transform 1.4s cubic-bezier(0.19, 1, 0.22, 1),
      opacity 1.4s cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .button:hover .button-bg-layer {
    transition:
      transform 1.3s cubic-bezier(0.19, 1, 0.22, 1),
      opacity 0.3s linear;
  }
  
  .button:hover .button-bg-layer-1 {
    transform: scale(1);
  }
  
  .button:hover .button-bg-layer-2 {
    transition-delay: 0.1s;
    transform: scale(1);
  }
  
  .button:hover .button-bg-layer-3 {
    transition-delay: 0.2s;
    transform: scale(1);
  }
  
  
  .custom-select {
    min-width: 50px;
    position: relative;
  }
  
  .custom-select select {
    appearance: none;
    width: 10%;
    font-size: 1rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: transparent;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
  }
  
  .custom-select::before,
  .custom-select::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
  }
  
  .custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
  }
  
  .custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
  }
  